* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    --accent-color: rgb(246, 139, 33);
    --text-color: #e0e0e0;
    --bg-color: #121212;
    --description-text-color: #b0b0b0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.project-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.project-title {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0 0 10px;
}

.project-description {
    margin: 10px 0;
    color: var(--description-text-color)
}

.project-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}

.link {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
    padding: 4px 6px;
}

.link:hover {
    color: rgb(220, 120, 30);
}

.project-list:not(:last-of-type) {
    margin-bottom: 20px;
}

.filter-tag {
    border: 1px solid var(--accent-color);
    background-color: transparent;
    padding: 4px 6px;
    color: var(--text-color);
    border-radius: 4px;
    margin-right: 6px;
    margin-top: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}
.filter-tag.active {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.no-results {
    color: var(--description-text-color);
}
